.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Futura';
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

body{
  background: rgb(25,25,25);
background: -moz-linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(12,12,12,1) 95%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(12,12,12,1) 95%, rgba(0,0,0,1) 100%);
background: linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(12,12,12,1) 95%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#000000",GradientType=1);
  color: white;

}

#hero{
  width: 100%;
  height: 90vh;
  background: #0c0c0c;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  
}

nav div {
  display: flex;
  align-items: center;
}

.website-header {
  font-size: 50px;
}

.logo{
  height: 100px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 2.5rem 1rem;

}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0; 
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 100;
}

.hero-text{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1{
  font-size: 100px;
  color: white;
}

.hero-text h3{
  font-size: 20px;
  font-weight: 100;
}

@media screen and (max-width: 420px) {
  nav h1 {
    display: none;
  }

  .who-we-are-pic {
    display: none;
  }

  h1 {
    font-size: 48px;
  }

  .about-us-description {
    width: 100%;
  }

  .about-us-card-description {
    font-size: 16px;
  }

  .teams iframe {
    display: none;
  }

  .team-card { 
    width: 100%;
  }

  .teams-headshots {
    text-align: left;
    margin: 0% 5%;
  }
}

/* Mobile */
@media screen and (max-width: 767px){   
  .hero-pic {
    height: 240px;
    width: 340px;
  }
  .who-we-are-pic {
    height: 100%;
  }

  #home-about {
    height: 100%;
  }

  .navicon {
    position: absolute;
    right: 0;
  }

  .hero-container {
    display: block;
  }

  .about-us-card-description {
    font-size: 12px;
  }

  .about-us-description {
    width: 100%;
  }

  .about-us-card {
    width: 100%
  }

  .teams-headshots {
    text-align: left;
    margin: 0% 5%;
  }

  .teams iframe {
    display: none;
  }

  .team-card { 
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .hero-pic {
    display: none;
  }
}
/* tablet */
@media screen and (min-width: 768px) {     
  
  .about-us-description {
    width: 60%;
  }

  .about-us-card {
    width: 60%
  }
  
  .who-we-are-pic {
    height: 400px;
    width: 600px;
  }
  #home-about {
    height: 80vh;
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    height: 75vh;
  }

  .about-us-card-description {
    font-size: 13px;
  }
  .teams-headshots iframe {
    height: 300px;
    width: 400px;
  }
  .teams-headshots {
    text-align: left;
    margin: 0% 5%;
  }

  .team-card { 
    width: 50%;
  }
} 

/* small desktop */
@media (min-width: 992px){      
  .hero-pic {
    height: 330px;
    width: 480px;
  }

  .about-us-card-description {
    font-size: 14px;
  }

  .teams-headshots iframe {
    height: 300px;
    width: 400px;
  }

  .teams-headshots {
    text-align: left;
    margin: 0% 20%;
  }
}

/* nav bar switch */
@media (max-width: 1100px){      
  nav ul {
    display: none;
  }
}

@media (min-width: 1101px) {
  .navicon {
    display: none;
  }

  .about-us-card-description {
    font-size: 15px;
  }
  .teams-headshots iframe {
    height: 350px;
    width: 450px;
  }
}

/* large desktop */
@media (min-width: 1200px) {    
  .hero-pic {
    height: 440px;
    width: 640px;
  }


  .about-us-card-description {
    font-size: 16px;
  }
}

.hero-pic {
  border-radius: 5cap;
  border-style: none;
  margin: 4rem;
}

nav .fa-solid{
  display: none;
}

.navicon {
  position: absolute;
  right: 1rem;
  top: 2rem;
}

#myCarousel {
  display: block;
  margin-top: 200px;
  height: 100%;
}

iframe {
  border-style: none;
  border-radius: 15px;
}

/*------------------- HOME-ABOUT ---------------------*/

#home-about {
  background-color: white; 
  color: black;
}

#home-about h1 {
  padding-top: 4%;
  margin: 0 15px;
}

#home-about p {
  margin: 2% 20%;
}

/*------------------- highlights ---------------------*/

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 50vh;
  --widths: 100%;
}

.slider-container {
display: block;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  display: flex;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: relative;
  top: 4rem;
}

.slide-title,
.slide-text {
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.503);
  border-radius: 15px;
  padding: 10px;
  font-weight: 100;
}

.slide-text {
  top: 65%;
  font-size: 2rem;
}

.prev,
.next {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  z-index: 100;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -12rem;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.all-dots {
  position: relative;
  bottom: 2rem;
  color: black;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0px 3px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 50%;
  display: inline-block;
}

.slider-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.active-dot {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-container:hover .dot{
  background-color: rgba(0, 0, 0, 0.3);
}
.slider-container:hover .active-dot{
  background-color: rgba(255, 255, 255, 0.5);
}

.highlights-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  height: 90vh;
}

.play-pause {
  color: black;
}

#projects {
  background-color: #191919;
  color: white;

}

#projects h1 {
  margin-top: 4rem;
}

.dark-button {
  font-size: px;
  font-weight: 100;
  margin: 5px 50px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25cap;
  color: white;
  background-color: black;
}

.light-button {
  font-size: px;
  font-weight: 100;
  margin: 5px 50px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25cap;
  color: black;
  background-color: white;
}

.projects-container p {
  font-weight: lighter;
  font-size: 18px;
}

.project-img {
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.project-img img {
  border-radius: 5cap;
}

.dark-button:hover{
  color: black;
  background-color: white;
}

.light-button:hover{
  color: white;
  background-color: black;
}



/*------------------- ABOUT US ---------------------*/

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-mini-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.about-us-container p {
  width: 50%;
  margin: 3%; 
}

.about-us-container h1 {
  margin-top: 2rem;
}

.about-us-container h2 {
  margin: 1rem;
  font-size: 1.5rem;
}

.about-us-container h3 {
  font-size: 2rem;
  margin: 1rem;
}

.about-us-card {
  background-color: black;
  border: 5px solid #DCDCDD;
  border-radius: 2cap;
  display: flex;
  margin: 2%;
  position: relative;
  height: auto;
}

.about-us-card-info {
  width: 50%;
  text-align: left;
  margin: 35px;
}

.about-us-card-info h2 {
  font-weight: 530;
}

.about-us-card-info h3 {
  font-weight: 100;
}

.about-us-card-description {
  text-align: left;
  width: 60%;
  background: #FF5733;
  border-radius: 0px 1.4cap 1.4cap 0px;
  font-weight: 100;
}

.about-us-card-description p {
  margin: 1rem;
  line-height: 1.5rem;
}

.about-us-card-description img {
  width: 100%;
  height: 100%;
  border-radius: 0px 1.4cap 1.4cap 0px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.more-button {
  position: absolute;
  bottom: 1rem;
}

.about-us-card-info button {
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 25cap;
  border: 2px solid #28282B;
  background-color: #D0D0D0;
}

.about-us-card-info button:hover {
  color: #D0D0D0;
  background-color: #28282B;
}

/*------------------- TEAMS ---------------------*/

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-link {
  text-decoration: none;
}

.subteam-page {
  height: 90vh;
}

.teams-header h1 {
  margin-top: 1rem;
  font-size: 48px;
  font-weight: 300;
  text-align: left;
}

.teams-headshots h2 {
  margin-top: 5%;
}

.profile-img {
  margin: 10px 0px;
  border-radius: 15px;
  max-width: 90%;
  height: 100%;
}


.captains {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.teams h3 {
  color: red;
  font-size: 36px;
}

.teams h4 {
  color: red;
  font-size: 20px;
}

/*------------------- RECRUITMENT ---------------------*/

#join-now {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.recruitment-container iframe {
  position: absolute;
  top: 0;
  left: 25%;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}
.quote {
  text-align: center;
  margin: 2rem;
}
.quote h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
.quote p {
  font-size: 1.5vw;
  margin-top: 1rem;
}
#join-now h2 {
  border: 1px solid white;
  padding: 2rem;
  width: 50%;
  border-radius: 15px;
  font-size: 24px;
}

.recruitment {
  background-color: black;
  color: #D0D0D0;
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25% ; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: -22%;
}

.recruitment-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.call-to-action {
  font-size: 30px;
  font-weight: 100;
  margin: 2rem;
  border: 2px solid #DCDCDD;
  padding: 1rem;
  border-radius: 25cap;
  color: #DCDCDD;
  background-color: black;
}

.call-to-action:hover {
  color: black;
  background-color: #DCDCDD;
}

.recruitment-container h2{
  width: 50%;
}

.recruitment-container h1{
  font-size: 5vw;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.item:nth-child(2) {
  transition-delay: 200ms;
}

.item:nth-child(3) {
  transition-delay: 400ms;
}

.item:nth-child(4) {
  transition-delay: 600ms;
}

.recruitment-container h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 1rem;
}

.testimonials {
  display: flex;
  justify-content: center;
}

/*------------------- SPONSORS ---------------------*/

#sponsors {
  padding-top: 5%;
  background-color: black;
  color: #D0D0D0;
}

.sponsor-container {
  display: flex;
  margin: 4rem;
}

.sponsor-container h2 {
  position: sticky;
  top: 50%;
  height: 10px;
  margin: 1rem;
}

.tier-container {
  height: 100%;
  width: 25%;
}

.sponsor-container h3 {
  margin-top: 15%;
  font-size: 36px;
}

.sponsor.dark-button {
  font-size: 36px;
  background-color: #28282B;
}

.sponsor.dark-button:hover {
  color: #28282B;
  background-color: white;
}

.profile-card p {
  color: #D0D0D0;
  font-weight: 300;
}

.footer {
  display: block;

}