.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Futura';
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

body{
  background: black;
  color: white;

}

#hero{
  width: 100%;
  height: 84vh;
  background: black;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

.website-header {
  font-size: 50px;
}

.logo{
  height: 100px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 2.5rem 1rem;

}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0; 
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 100;
}

.hero-text{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1{
  font-size: 100px;
  color: white;
}

.hero-text h3{
  font-size: 20px;
  font-weight: 100;
}

/* Mobile */
@media screen and (max-width: 767px){   
  .hero-pic {
    height: 240px;
    width: 340px;
  }
  .who-we-are-pic {
    height: 300px;
    width: 380px;
  }
  #home-about {
    height: 60vh;
  }
}

/* tablet */
@media screen and (min-width: 768px) {      
  .hero-pic {
    height: 220px;
    width: 320px;
  }
  .who-we-are-pic {
    height: 400px;
    width: 600px;
  }
  #home-about {
    height: 80vh;
  }
} 

/* small desktop */
@media (min-width: 992px){      
  .hero-pic {
    height: 330px;
    width: 480px;
  }
}

/* large desktop */
@media (min-width: 1200px) {    
  .hero-pic {
    height: 440px;
    width: 640px;
  }

}

.hero-pic {
  border-radius: 5cap;
  border-style: none;
  margin: 4rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
  height: 60vh;
}

nav .fa-solid{
  display: none;
}

#myCarousel {
  display: block;
  margin-top: 200px;
  height: 100%;
}

iframe {
  border-style: none;
  border-radius: 5cap;
}

/*------------------- HOME-ABOUT ---------------------*/

#home-about {
  background-color: white; 
  color: black;
}

#home-about h1 {
  padding-top: 4%;
  margin: 0 15px;
}

#home-about p {
  margin: 2% 20%;
}

/*------------------- highlights ---------------------*/

#projects {
  height: 40vh;
  width: 100%;
  background-color: black;
  color: white;
}

.horizontal-projects-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  height: 700px;
  background-color: black;
  color: white;
  margin-top: -10%;
}

.small-projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#projects h1 {
  font-size: 70px;
  margin: 2% 20px;
}

#projects h2 {
  font-weight: bolder;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 10px;
}

#projects h3 {
  font-weight: lighter;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.dark-button {
  font-size: px;
  font-weight: 100;
  margin: 5px 50px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25cap;
  color: white;
  background-color: black;
}

.light-button {
  font-size: px;
  font-weight: 100;
  margin: 5px 50px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25cap;
  color: black;
  background-color: white;
}

.projects-container p {
  font-weight: lighter;
  font-size: 18px;
}

.project-img {
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.project-img img {
  border-radius: 5cap;
}

.dark-button:hover{
  color: black;
  background-color: white;
}

.light-button:hover{
  color: white;
  background-color: black;
}



/*------------------- ABOUT US ---------------------*/

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.about-mini-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us-container p {
  width: 50%;
  margin: 3%; 
}

.about-us-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.about-us-container h3 {
  font-size: 32px;
}

.about-us-card {
  background-color: black;
  border: 5px solid #DCDCDD;
  width: 60%;
  border-radius: 2cap;
  display: flex;
  height: 35vh;
  margin: 2%;
  position: relative
}

.about-us-card-info {
  width: 50%;
  margin: 25px;
  text-align: left;
  padding: 35px;
}

.about-us-card-info h2 {
  font-weight: 530;
  margin-bottom: 30px;
  height: 10vh;
}

.about-us-card-info h3 {
  font-weight: 100;
  height: 8vh;
}

.about-us-card-description {
  text-align: left;
  width: 50%;
  background: #FF5733;
  border-radius: 0px 1.4cap 1.4cap 0px;
  font-size: 18px;
  font-weight: 100;
}

.about-us-card-description p {
  position: absolute;
  top: 0;
  margin: 30px;
  line-height: 1.5;
}

.about-us-card-description iframe {
  height: 354px;
  width: 510px;
  border-radius: 0px 1.4cap 1.4cap 0px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.more-button {
  align-items: flex-end;
  display: flex;
  align-items: flex-end;
}

.about-us-card-info button {
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 25cap;
  border: 2px solid #28282B;
  background-color: #D0D0D0;
}

.about-us-card-info button:hover {
  color: #D0D0D0;
  background-color: #28282B;
}

/*------------------- TEAMS ---------------------*/

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams-header {
  height: 10vh;
  width: 60%;
}

.line {
  width: 54%;
  margin-left: 22%;
}

.teams-header h1 {
  margin-top: 5%;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}

.teams-headshots {
  text-align: left;
  margin: 0% 22%;
}

.teams-headshots h2 {
  margin-top: 5%;
}

.profile-img {
  margin: 20px 0px;
  border-radius: 15px;

}

.teams-headshots iframe {
  height: 350px;
}


.captains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: wrap;
}

.profile-card {
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.teams h3 {
  color: red;
  font-size: 36px;
}

.teams h4 {
  color: red;
  font-size: 20px;
}

/*------------------- RECRUITMENT ---------------------*/

.recruitment {
  background-color: #28282B;
  color: #D0D0D0;
}

.recruitment-container {
  height: 100vh;
}

.recruitment-container h1 {
  height: 25%;
  padding-top: 20%;
}

.call-to-action {
  font-size: 30px;
  font-weight: 100;
  margin: 7% 50px;
  border: 2px solid #DCDCDD;
  padding: 20px 30px;
  border-radius: 25cap;
  color: #DCDCDD;
  background-color: #28282B;
}

.call-to-action:hover {
  color: #28282B;
  background-color: #DCDCDD;
}

.recruitment-container h2{
  height: 25%;
  padding-top: 15%;
  margin-left: 25%;
  width: 50%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.item:nth-child(2) {
  transition-delay: 200ms;
}

.item:nth-child(3) {
  transition-delay: 400ms;
}

.item:nth-child(4) {
  transition-delay: 600ms;
}

.recruitment-container h3 {
  font-size: 24px;
  margin-top: 12%;
  font-weight: 500;
}

.quote {
  width: 32%;
  text-align: left;
  margin-left: 25%;
  margin-top: 20%;
  height: 150vh;
}

.quote-background {
  background-image: url("https://picsum.photos/1800/1000");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
}

.quote h2 {
  font-weight: bold;
}

.quote p {
  font-size: 22px;
  margin-top: 5%;
}

/*------------------- SPONSORS ---------------------*/

#sponsors {
  padding-top: 5%;
  background-color: black;
  color: #D0D0D0;
}

.sponsor-container {
  display: flex;
  margin-top: 5%;
}

.sponsor-container h2 {
  position: sticky;
  top: 50%;
  height: 10px;
}

.tier-container {
  height: 360vh;
  width: 25%;
}

.sponsor-container h3 {
  margin-top: 15%;
  font-size: 36px;
}

.sponsor.dark-button {
  font-size: 36px;
  background-color: #28282B;
}

.sponsor.dark-button:hover {
  color: #28282B;
  background-color: white;
}

.profile-card p {
  color: #D0D0D0;
  font-weight: 300;
}

.footer {
  display: block;
  margin-top: 100px;

}